@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
a {
    color:white;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-x:hidden;
}

header {
    width: 100%;
    height: 130px;
    background-color: #243c4f;
    color:white;
    position: fixed;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}


.header__top {
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #2e495f;
    color:#5f7e97;
    font-family: 'Lato', sans-serif;
    transition: all 0.5s ease-in-out;
}

.header__top__wrapper {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contacts {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.contacts div {
    height: 100%;
    border-left: 1px solid #2e495f;
    color:#5f7e97;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0 15px;
    transition: all .35s ease-in-out;
}
.contacts div:hover {
    background:#2e495f;
    color:rgb(230, 228, 236);
}
.contacts a {
    color:inherit;
    font-size: 1.1rem;
    
}

.contacts__number {
    border-right: 1px solid #2e495f;
    background-color:#2e495f;
    
}
.contacts__number a {
    color:#fff;
    font-size: 0.8rem;
}

.header__bot {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    width: 100%;
    
} 
.header__bot a {
    color:#63839c;
    transition: color .35s ease-in-out;
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__bot a:hover {
    color:#fff;
}
.header__bot__wrapper {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header__bot nav {
    width: 700px;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.header__bot .btn {
    height: 24px;
    color:#00b4fa;
    border:1px solid #00b4fa;
    padding: 12px 30px;
    transition: all .35s ease-in-out;
}
.header__bot .btn:hover {
    background:#00b4fa;
    color:white;
}
.mobile__btn {
    display: none;
    color:#fff;
}

section.page1 {
    background-color: #b9e6f8;
    width: 100%;
    height: 1000px;
    display: flex;
    align-items:flex-end;
}

.page1__wrapper {
    width: 70%;
    height: 73%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    color:#243c4f;
}
.main  h1 {
    font-size: 2.6rem;
    font-weight: 300;   
}
.main__line {
    width: 40px;
    border:1px solid #00b4fa;
    background-color: #00b4fa;
    margin: 20px 0;
}
.main p {
    font-weight: 300;
    line-height: 1.75rem;
}

.main button {
    width: 185px;
    height: 50px;
    color:#fff;
    background-color: #ec5646;
    border:none;
    font-weight: 700;
    margin-top: 35px;
    
}
button {
    transition: all 0.35s ease-in-out;
}
 button:hover {
    background-color: #ff8173;
}

.page1__bot {
    width: 100%;
    height: 280px;
    background-color:#00b4fa;
    color:#fff;
    display: flex;
    justify-content: center;
    
}

.page1__bot .element {
    width: 100%;
    height: 100%;
    border-left: 1px solid #2ec5ff;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    position: relative;
}

.page1__bot .element__wrapper {
    width: 75%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page1__bot .element i {
    font-size: 1.7rem;
}

.page1__bot .element h3 {
    margin: 20px 0;
    font-weight: 400;
    font-size: 1.3rem;
}
.page1__bot .element p {
    font-weight: 300;
    color:#a1e5fe;
    margin-bottom: 25px;
}

button.plus {
    position: absolute;
    top:100%;
    left:50%;
    transform: translate(-50%, -50%);
    border:none;
    border-radius: 100%;
    color:white;
    background-color:#70d151;
    width: 40px;
    height: 40px;
    font-weight: 300;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    transition: all 0.35s ease-in-out;
}

button.plus:hover {
    background-color:#8ddf72;
}


section.page2 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    color:#243c4f;
    font-weight: 300;
}

.page2__wrapper {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.heading h2,.heading p {
    font-weight: 300;
    text-align: center;
}
.heading h2 {
    font-size: 2.25rem;
    margin-bottom: 5px;
    margin-top: 50px;
}
.heading p {
    color:#56758d;
}
.page2 img {
    margin-top: 20px;
    width: 75%;
}
.page2 p {
    text-align: center;
}
section.page3 {
    background-color:#f1fafe;
    width: 100%;
    height: 80vh;
}

.page3__wrapper {
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

.page3__cards {
    display: flex;
    justify-content: center;
}

.page3 .card {
    background-color:#fff;
    width: 300px;
    height: 337px;
    position: relative;
}

.page3 .card:nth-child(2) {
    margin: 0 20px;
}

.page3 .card .absolute__line {
    background-color:#00b4fa;
    width: 100%;
    height: 23%;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
}

.page3 .card__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    text-align: center ;
    z-index: 10;
}

.page3 .card .icon {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    color:white;
    position: absolute;
    left:50%;
    top:23%;
    transform: translate(-50%,-50%);
    font-size: 2.3rem;
}
.page3 .card:nth-child(1) .icon { background-color:#ec5646;}
.page3 .card:nth-child(2) .icon { background-color:#70d151;}
.page3 .card:nth-child(3) .icon { background-color:#7852e5;}
.page3 .card h4, .page3 .card span {
    color:#243c4f;
    font-weight: 700;
}
.page3 .card h4 {
    font-size: 1.5rem;
    margin: 20px 0;
}
.page3 .card p {
    color:#56758d;
    line-height: 1.7rem;
}
.page3 .card span {
    margin: 20px 0 40px ;
    transition: all 0.35s ease-in-out;
}
.page3 .card span:hover {
    color:#385b77;
}


section.page4 {
    background-color:#fff;
    width: 100%;
    height: 110vh;
}
.page4__wrapper {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.page4__cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.page4 .card {
    width: 30%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.page4 .card__wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    height: 80%;
}

.page4 .card .icon {
    background-color:#00b4fa;
    color:#fff;
    width: 60px;
    height: 60px;
    border-radius:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.5rem;
}

.page4 .card h4 {
    color:#243c4f;
    font-size: 1.2rem;
    font-weight: 400;
}
.page4 .card p {
    color:#6d879c;
    text-align: center;
    line-height: 2rem;
}

.page4__btn {
    width: 185px;
    height: 50px;
    color:#fff;
    background-color: #ec5646;
    border:none;
    font-weight: 700;
    margin-top: 35px;
}

section.page5 {
    background: url('page5__background.jpg');
    width: 100%;
    height: 60vh;
    display: flex;
    align-items:center;
    justify-content: center;
    color:#fff;
    text-align: center;
}

.page5__wrapper {
    width: 50%;
    height: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}

.page5 .qoute__wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    height: 100%;
    transition: all .5s linear;
}
.page5 .quote {
    font-size: 3rem;
}

.page5 .circle {
    background-color: #ade1a9;
    width: 100px;
    height: 100px;
    border-radius:100%;
    background-image:url('portrait.jpg') ;
    background-position: 50% 50%;
    background-size: 100px 100px;  
}
.page5 p {
    font-weight: 300;   
}
.page5__quote__text{
    font-style: italic;
}
.page5 .line {
    width: 40px;
    border:1px solid #fff;
    background-color: #fff;
    margin: 20px 0;
}
.page5 span {
    font-weight: 700;
}
.slider__btns {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__btn {
    border:1px solid #fff;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    margin-right: 10px;
    transition: all 0.35s ease-in-out;
}
.slider__btn:hover {
    -webkit-box-shadow: 1px 0px 10px 10px  #00b4fa;
    -moz-box-shadow: 1px 0px 10px 10px  #00b4fa;
    box-shadow: 1px 0px 10px 10px  #00b4fa;
}

.slider__btn.active {
    border:2px solid #00b4fa;
}

section.page6 {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.page6__top {
    background:#70d151;
    height: 50%;
    width: 100%;
    color:#fff;
}
.page6__top p {
    color:#fff;
}
.page6__top .main__line {
    background-color:#fff;
    border-color: #fff;
}

.page6__absolute {
    position: absolute;
    top: 32.7%;
    width:400px;
}

.page6__absolute.left {
    left: 3%;
}
.page6__absolute.right {
    right:3%;
}

.page6__top__content {
    width: 100%;
    height: 100%;
    position: relative;
}

.page6__top__content  img{
    width: 700px;
    position: absolute;
    top:73%;
    left:50%;
    transform: translate(-50%,-50%);
}

.page6__bot {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color:#eaf4fd;
}

.page6__bot__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 25px;
}

.page6__bot__content .element img {
    width: 80px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#243c4f;
    height: 200px;
    color:#4a677d;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

.footer__about {
    width: 100%;
}
.footer__about p {
    width: 80%;
}
.footer__copyrights {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.footer__copyrights p {
    margin-bottom: 35px;
}
.footer__copyrights span {
    color:white;
}
footer h3 {
    color:white;
    font-size: 1.4rem;
    font-weight: 400;
}



@media (max-width:415px) {

    .header__top {
        display: none;
    }
    .header__bot__wrapper {
        padding:0 10px;
    }
    header {
        height: 80px;
    }
    .header__bot nav {
        display: none;
    }
    .header__bot__wrapper {
        width: 85%;
    }
    header .logo img {
        width: 80%;
    }
    .mobile__btn {
        display: block;
        font-size: 1.8rem;
        transition: all 1s ease-in-out;
    }
    
    .mobile__menu {
        background:#fff;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 100;
        transform: translate(100%, 0);
        transition: all 1s ease-in-out;
        display: flex;
        color:black;
        padding: 100px 0 0 20px;
    }
    .mobile__menu nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: all .75s ease-in-out;
    }
    .mobile__menu nav > a { 
        color:black;
        font-size: 2.5rem;
    }
    .mobile__menu nav > div {
        width: 80%;
        height: 50px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;

    }
    .mobile__menu nav > div * {
        color:black;
    }
    .mobile__menu nav > a:last-child {
        font-size: 1.5rem;
    }
    section.page1 {
        height: 550px;
    }
    .page1__wrapper {
        height: 80%;
    }
    .page1__bot {
        display: none;
    }


    section.page2 {
        height: 600px;
    }
    .page2 img {
        width: 135%;
    }
    .heading h2 {
        margin-top: 25px;
    }


    section.page3 {
        height: 100%;
        padding-bottom: 10px;
    }
    .page3__cards {
        flex-direction: column;
    }
    .page3__cards .card {
        height: 300px;
        width: 270px;
        margin:  10px 0 !important;
    }
    .page3 .card .icon {
        height: 65px;
        width: 65px;
        font-size: 2rem;
    }

    section.page4 {
        height: 1150px;
    }
    .page4 .card {
        width: 50%;
        height: 280px;
    }
    .page4 .card__wrapper {
        height: 100%;
    }

    section.page5 {
        height: 500px;
    }
    .page5__wrapper {
        height: 90%;
    }


    section.page6 {
        height: 1000px;
    }
    .page6__absolute {
        display: none;
    }
    .page6__top {
        height: 40%;
    }
    .page6__top__content {
        display: flex;
        align-items: flex-start;
    }
    .page6__top__content img {
        width: 350px;
        top:66%;
    }
    .page6__bot {
        height: 60%;
    }
    .page6__bot__content {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .page6__bot__content .element {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    footer {
        overflow: hidden;
        height: 300px;
    }
    .footer__wrapper{
        flex-direction: column;
        width: 100%;
        margin: 20px;
    }
    .footer__about {
        margin: 20px;
    }
    .footer__about p { 
        width: 100%;
    }
}
