*{
	list-style: none;
	text-decoration: none;
}

body {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
}

main {

	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

ul {
	width: 30vmin;
	height: 30vmin;
	border: 1px solid wheat;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
}
a:hover {
	border-bottom: 1px solid;
}