html, body {
    box-sizing: border-box;
}
body {
    padding: 30px 50px;
}

main {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}
main div {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    width: 250px;
    height: 250px;
    margin-right: 20px;
    
}


textarea {
    width: 90%;
    height: 90%;
    font-size: 1.5rem;
    padding: 5px 10px;
    font-weight: 100;
    color:rgb(51, 48, 56);
}

=======
    flex-wrap:wrap;
}
>>>>>>> eba75b20c16e109b94321ff62051f63b43c781a6
