@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
html, body {
    box-sizing: border-box;
}
body {
    padding: 30px 50px;
    background: url('bg.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    color:rgb(44, 39, 59);
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 i {
    font-size: 2.5rem;
    color:rgb(95, 95, 95);
    
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
main div {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin-right: 20px;
    
}


textarea {
    width: 90%;
    height: 90%;
    font-size: 1.5rem;
    padding: 5px 10px;
    font-weight: 100;
    color:rgb(51, 48, 56);
    border: none;
    -webkit-box-shadow: 20px 20px 107px -19px rgba(0,0,0,0.39);
    -moz-box-shadow: 20px 20px 107px -19px rgba(0,0,0,0.39);
    box-shadow: 20px 20px 107px -19px rgba(0,0,0,0.39);
}
