* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  background-color: #89898b;
  height: 100vh;
  color: #fff;
  text-transform: uppercase;
}

header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

header .header__wrapper .header__logo {
  margin-bottom: 35px;
}

header .header__wrapper h3 {
  margin-bottom: 35px;
  font-weight: normal;
  font-size: 0.8rem;
}

header .header__wrapper h1 {
  color: #ffe600;
  margin-bottom: 70px;
  font-weight: normal;
}

header .header__wrapper button {
  color: #fff;
  background-color: transparent;
  border: 1px solid #ffe600;
  padding: 17px 70px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

section.page1 {
  height: 50vh;
  background-color: #fff;
}

section.page1 .page1__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

section.page1 .page1__wrapper h2 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 15px;
}

section.page1 .page1__wrapper h3 {
  text-transform: uppercase;
  font-weight: normal;
  color: #ffe600;
}

section.page1 .page1__wrapper .page1__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

section.page1 .page1__wrapper .page1__posts .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  text-align: center;
}

section.page1 .page1__wrapper .page1__posts .post .post__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  margin-bottom: 20px;
}

section.page1 .page1__wrapper .page1__posts .post .post__heading h4 {
  text-transform: uppercase;
  font-weight: normal;
}

section.page1 .page1__wrapper .page1__posts .post .post__heading .num {
  color: #ffe600;
  font-size: 2rem;
  border-right: 1.5px solid #ffe600;
  padding-right: 5px;
  margin-right: 20px;
}

section.page1 .page1__wrapper .page1__posts .post p {
  color: #8e8e8e;
}

section.page2 {
  height: 450px;
  background-color: #ffe600;
}

section.page2 .page2__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

section.page2 .page2__wrapper h2 {
  font-style: italic;
}

section.page2 .page2__wrapper h4 {
  font-weight: 0.9rem;
  color: #fff;
}

section.page3 {
  min-height: 50vh;
  background-color: #fff;
}

section.page3 .page3__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

section.page3 .page3__wrapper h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: normal;
}

section.page3 .page3__wrapper h3 {
  margin-bottom: 100px;
  color: #ffe600;
  text-transform: uppercase;
  font-weight: normal;
}

section.page3 .page3__wrapper .page3__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

section.page3 .page3__wrapper .page3__posts .post {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 20%;
  height: 200px;
  background-color: #f3f3f3;
  margin: 10px;
}

section.page4 {
  height: 40vh;
  background-color: #424245;
}

section.page4 .page4__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 100%;
  padding: 50px 0;
  margin: 0 auto;
}

section.page4 .page4__wrapper h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
}

section.page4 .page4__wrapper h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: normal;
  color: #ffe600;
}

section.page4 .page4__wrapper .page4__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

section.page4 .page4__wrapper .page4__posts .post {
  margin: 0 50px;
}

section.page5 {
  height: 70vh;
}

section.page5 .page5__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

section.page5 .page5__wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.page5 .page5__wrapper form input {
  height: 35px;
  background-color: #ffe600;
  border: none;
  color: white;
  padding: 10px;
}

section.page5 .page5__wrapper form input::-webkit-input-placeholder {
  color: white;
}

section.page5 .page5__wrapper form input:-ms-input-placeholder {
  color: white;
}

section.page5 .page5__wrapper form input::-ms-input-placeholder {
  color: white;
}

section.page5 .page5__wrapper form input::placeholder {
  color: white;
}

section.page5 .page5__wrapper form #input-name {
  margin-right: 30px;
}

section.page5 .page5__wrapper form #input-mail, section.page5 .page5__wrapper form #input-name {
  width: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

section.page5 .page5__wrapper form #input-subject {
  width: 100%;
}

section.page5 .page5__wrapper form #input-message {
  width: 100%;
  height: 150px;
  background-color: #ffe600;
  border: none;
  color: white;
  padding: 10px;
}

section.page5 .page5__wrapper form #submit {
  width: 100%;
  background-color: #131316;
  color: #ffe600;
}

footer {
  background-color: #131316;
  height: 100px;
  color: #ffe600;
}

footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

footer .footer__wrapper .socials a {
  margin-left: 15px;
}
/*# sourceMappingURL=style.css.map */